.calc-input {
  display: block;
  width: 100%;
  min-height: 32px;
  padding-top: 40px;
  padding-bottom: 15px;
  padding-right: 2px;
  font-size: 28px;
  background: black;
  color: white;
  text-align: right;
}