html {
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Droid Sans Mono", sans-serif;
}

.app {
  margin: 50px auto;
  width: 220px;
  background: black;
  text-align: center;
}

